body {
  background-color: #f0f0f0;
}

.materials {
  padding: 5% 10%;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #031829;
}

.titlematerials {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
  opacity: 0;
  transition: opacity 1.5s ease-in;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
}
.in-view {
  opacity: 1;
}
.material-section {
  background-color: #fff;
  margin-bottom: 4rem;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.material-section.mdf {
  margin-top: 4rem;
}
.egger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  padding: 7rem 0;
}
.eggerlogo {
  display: flex;
  flex: row;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}
.eggerlogo img {
  width: 6rem;
  height: 3rem;
}
figcaption {
  font-size: 0.6rem;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}
.textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.textbox p {
  width: 35rem;
}
figure img {
  width: 14rem;
  height: 20rem;
}
h2 {
  text-align: center;
  padding-bottom: 2rem;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
}
h3 {
  color: #666;
  padding-bottom: 0.5rem;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 1px;
}
.tipmdf {
  font-size: 1.1rem;
}
.avantaje,
.dezavantaje {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 1px;
}
p:not(.paragraf1, .paragraf2) {
  line-height: 1.5;
  margin-bottom: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
h2 + p {
  padding-bottom: 4rem;
}

h3 + p {
  padding-bottom: 1.5rem;
}
.container {
  margin: 0 auto;
  max-width: 40rem;
}
.mdftypes {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  gap: 2rem;
  margin-bottom: 8rem;
}
.type {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.type p {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.mdfimage {
  height: 8rem;
  width: 10rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.fadeInOpacity {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

.blum img,
.hafele img {
  transform: rotate(90deg);
  width: 8rem;
  height: 2rem;
}
.accesorii {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 3rem 0;
}
.accesorii > p {
  text-align: center;
}

.titleaccesorii {
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
  text-align: center;
}
.accesoriirow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}
.blum,
.hafele {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.blum p::first-letter,
.hafele p::first-letter {
  font-size: 2rem;
  font-style: italic;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1590px) {
  .type {
    padding: 1rem;
  }
}
@media (max-width: 1390px) {
  .materials {
    padding: 5% 5%;
    padding-top: 8rem;
  }
}

@media (max-width: 1260px) {
  .egger {
    gap: 6rem;
  }
  .accesoriirow {
    gap: 1rem;
  }
}
@media (max-width: 1240px) {
  .mdftypes {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: start;
  }
}
@media (max-width: 1140px) {
  .accesoriirow {
    flex-direction: column;
  }
  .blum p,
  .hafele p {
    text-align: start;
  }
  .egger {
    gap: 3rem;
  }
  .tipuri {
    font-size: 1.2rem;
  }
  .eggerlogo img {
    width: 4rem;
    height: 1.8rem;
  }

  .textpartener {
    font-size: 0.8rem;
  }
  .tipuri.partener {
    padding-bottom: 2rem;
  }
  .eggerimage img {
    width: 10rem;
    height: 15rem;
  }
}
@media (max-width: 1010px) {
  .textpartener {
    width: 100%;
  }
  .textpartener p {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .material-section {
    padding: 1rem;
  }
}
@media (max-width: 800px) {
  h2 + p {
    font-size: 0.8rem;
  }
  .avantaje,
  .dezavantaje {
    font-size: 0.85rem;
  }
  .tipuri {
    font-size: 1.2rem;
  }
  ul {
    font-size: 0.8rem;
  }
  .materials {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .material-section {
    padding: 0;
    padding-top: 1rem;
  }
  .titleaccesorii {
    font-size: 1.3rem;
  }
  .titleaccesorii + p {
    font-size: 0.8rem;
  }
  .blum p,
  .hafele p {
    font-size: 0.8rem;
  }
  .accesorii {
    gap: 1rem;
  }
}

@media (max-width: 660px) {
  .mdftypes {
    grid-template-columns: auto;
  }
}
@media (max-width: 643px) {
  .eggerlogo {
    flex-direction: column;
    align-items: center;
  }
  .eggerlogo img {
    margin-bottom: 1rem;
    width: 6rem;
    height: 3rem;
  }
  .tipuri.partener {
    padding-bottom: 0;
  }
}
@media (max-width: 600px) {
  .materials {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .titlematerials {
    font-size: 1.3rem;
  }
  .avantaje,
  .dezavantaje {
    font-size: 0.7rem;
  }
  .tipuri {
    font-size: 1rem;
  }
  ul {
    font-size: 0.7rem;
  }
  h2 + p {
    font-size: 0.7rem;
  }
}
@media (max-width: 580px) {
  .egger {
    gap: 0;
    flex-direction: column;
  }
  .textbox {
    align-items: center;
  }
  .textpartener {
    width: 90%;
  }
  .blum,
  .hafele {
    flex-direction: column;
  }
  .blum img,
  .hafele img {
    transform: rotate(0);
  }
  .accesorii {
    gap: 3rem;
  }
}

@media (max-width: 400px) {
  ul {
    margin-left: 0;
  }
}
