body {
  background-color: #f0f0f0;
}

.materials {
  padding: 5% 10%;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #031829;
}

.titlematerials {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
  opacity: 0;
  transition: opacity 1.5s ease-in;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
}
.in-view {
  opacity: 1;
}
.material-section {
  background-color: #fff;
  margin-bottom: 4rem;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.material-section.mdf {
  margin-top: 4rem;
}
.egger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  padding: 7rem 0;
}
.eggerlogo {
  display: flex;
  flex: row;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}
.eggerlogo img {
  width: 6rem;
  height: 3rem;
}
figcaption {
  font-size: 0.6rem;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}
.textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.textbox p {
  width: 35rem;
}
figure img {
  width: 14rem;
  height: 20rem;
}
h2 {
  text-align: center;
  padding-bottom: 2rem;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
}
h3 {
  color: #666;
  padding-bottom: 0.5rem;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 1px;
}
.avantaje,
.dezavantaje {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 1px;
}
p {
  line-height: 1.5;
  margin-bottom: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
h2 + p {
  padding-bottom: 1rem;
}
ul + h3 {
  padding-top: 1.5rem;
}
h3 + p {
  padding-bottom: 1.5rem;
}
.container {
  margin: 0 auto;
  max-width: 40rem;
}
.mdftypes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 8rem;
}
.type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  padding-bottom: 4rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.type p {
  height: 17rem;
  text-align: center;
}

.mdfimage {
  height: 10rem;
  width: 12rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.fadeInOpacity {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}
.blum img {
  width: 8rem;
  height: 2rem;
}
.blum img,
.hafele img {
  transform: rotate(90deg);
}
.accesorii {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 3rem;
}
.accesorii > p {
  text-align: center;
}
.titleaccesorii {
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
}
.accesoriirow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}
.blum,
.hafele {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.blum p::first-letter,
.hafele p::first-letter {
  font-size: 2rem;
  font-style: italic;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
