html {
  font-size: 20px;
}
body {
  overflow-x: hidden;
}
/* NAVIGATION */

.background {
  height: 100vh;
}
.navbar-nav.text-center > a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.si {
  text-transform: lowercase;
}
.navbar.navbar-expand-xl {
  padding: 0 7rem;
  position: fixed;
  width: 100%;
  background-color: #020c15;
  z-index: 2;
}
.container-fluid {
  background-color: #020c15;
}
.logo {
  height: 5rem;
  width: 5rem;
  margin-left: 2rem;
}
.hamburger {
  cursor: pointer;
}
.hamburger input {
  display: none;
}
.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 2rem;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line-top-bottom {
  stroke-dasharray: 12 63;
}
.hamburger input:checked + svg {
  transform: rotate(-45deg);
}
.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
@media (max-width: 619px) {
  .navbar.navbar-expand-xl {
    padding: 0 1rem;
  }
}
/* NAVIGATION */

/* HERO SECTION */

.hero {
  overflow-x: hidden;
  height: 100vh;
  background-image: url(images/testbg1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
.texthero {
  color: white;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  font-size: 4vh;
  text-align: center;
  backdrop-filter: blur(5px) saturate(100%);
  border-radius: 2rem;
  margin-bottom: 2rem;
  width: 40rem;
  padding: 0.5rem;
}
.herobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.buttonservices {
  background: #fff;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 15px;
  width: 120px;
  font-weight: 500;
  color: #020c15;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 2px;
}

.spanservices {
  display: inline-block;
  transform: skew(21deg);
}

.buttonservices::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: #020c15;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.buttonservices:hover {
  color: #fff;
}

.buttonservices:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}
@media (max-width: 950px) {
  .texthero {
    width: 25rem;
    font-size: 3vh;
  }
}
@media (max-width: 540px) {
  .texthero {
    width: 17rem;
    font-size: 1.1rem;
  }
}
/* HERO SECTION */

/* BELOW HERO SECTION*/

.belowhero {
  height: 100vh;
  background-color: #fff;
  overflow-x: hidden;
}

.belowherobox {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #342d27;
  border-radius: 1rem;
  opacity: 0;
  transition: opacity 1s ease-in;
  width: 70%;
  padding: 2rem;
  gap: 5rem;
}

.in-view {
  opacity: 1;
}

.belowherotextbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: white;
  gap: 1rem;
}

.belowherotextbox > h1 {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 1px;
}

.belowherotextbox > p {
  text-align: start;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100%;
}

.belowheropicture {
  width: 15rem;
  border-radius: 1rem;
}

.animated-button {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: white;
  box-shadow: 0 0 0 2px white;
  cursor: pointer;
  overflow-x: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .spananimatedbutton:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #202122;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .spananimatedbutton:first-child {
  position: relative;
  z-index: 1;
}

.animated-button:hover {
  box-shadow: 0 0 0 5px #2195f360;
  color: #ffffff;
}

.animated-button:active {
  transform: scale(0.95);
}

.animated-button:hover .spananimatedbutton:last-child {
  width: 100%;
  height: 150px;
  opacity: 1;
}

@media (max-width: 1462px) {
  .belowhero {
    margin-top: 5rem;
  }
}
@media (max-width: 1160px) {
  .belowherobox {
    height: 60%;
  }
}
@media (max-width: 1117px) {
  .belowherotextbox {
    font-size: 0.9rem;
  }
  .belowherotextbox > h1 {
    font-size: 1.5rem;
  }
  .animated-button {
    font-size: 0.6rem;
  }
}
@media (max-width: 1006px) {
  .belowherotextbox {
    font-size: 0.8rem;
  }
  .belowherotextbox > h1 {
    font-size: 1.3rem;
  }
  .belowherobox {
    gap: 2rem;
  }
}
@media (max-width: 899px) {
  .belowherobox {
    flex-direction: column;
  }
  .belowheropicture {
    height: 10rem;
    width: 8rem;
  }
  .belowherotextbox {
    align-items: center;
  }
  .belowherotextbox > p {
    text-align: center;
  }
}
@media (max-width: 610px) {
  .belowherobox {
    gap: 1rem;
  }
}
@media (max-width: 541px) {
  .belowherotextbox {
    gap: 0;
  }
  .belowherotextbox > h1 {
    text-align: center;
  }
}
@media (max-width: 514px) {
  .belowheropicture {
    height: 7rem;
    width: 6rem;
  }
}
@media (max-width: 421px) {
  .belowherobox {
    gap: 0;
  }
  .belowherotextbox > h1,
  .belowherotextbox > p {
    margin-bottom: 0.2rem;
  }
}
@media (max-width: 421px) {
  .belowherotextbox > h1 {
    font-size: 0.8rem;
  }
  .belowherotextbox > p {
    font-size: 0.7rem;
  }
  .belowherobox {
    gap: 2rem;
  }
}
@media (max-width: 340px) {
  .belowherobox {
    gap: 0.5rem;
  }
}

/* BELOW HERO SECTION*/

/* SERVICES SECTION */

.services {
  background-color: #fff;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}
.services video {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  position: absolute;
}

.services > h6,
.services > h3 {
  font-family: "Rowdies", sans-serif;
  position: absolute;
  color: #fff;
  color: white;
}
.serviciioferite {
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  opacity: 0;
  transition: opacity ease-in 1s;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2px;
}
.in-view-1 {
  opacity: 1;
}
.experimentati {
  left: -100%;
  transform: translateX(-50%);
  top: 25%;
  transition: all 2s ease-in;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2px;
  text-align: center;
}
.to-right {
  left: 50%;
}
.textservicii {
  top: 40%;
  color: #fff;
  left: 120%;
  position: absolute;
  transform: translate(-50%);
  text-align: center;
  transition: all 2s ease-in;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.to-left {
  left: 50%;
}
.servicesbox {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto;
  gap: 2rem;
  position: absolute;
  left: 50%;
  top: 27rem;
  transform: translate(-50%, 0);
}
.servicesboxone {
  display: flex;
  background-color: #031829;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 0.4rem;
  opacity: 0;
  gap: 2rem;
}
.servicesboxone:nth-child(1) {
  transition: opacity 1.5s ease-in;
}
.servicesboxone:nth-child(2) {
  transition: opacity 1.5s ease-in;
}
.servicesboxone:nth-child(3) {
  transition: opacity 1.5s ease-in;
}
.servicesboxone:nth-child(4) {
  transition: opacity 1.5s ease-in;
}
.servicesboxone:nth-child(5) {
  transition: opacity 1.5s ease-in;
}
.servicesboxone:nth-child(6) {
  transition: opacity 1.5s ease-in;
}

.in-view-2 {
  opacity: 1;
}
.servicesboxone > h4 {
  color: white;
  font-family: "Amatic SC", sans-serif;
  font-size: 1.3rem;
}
.servicesonetext {
  color: white;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@media (max-width: 1460px) {
  .servicesonetext {
    font-size: 0.7rem;
  }
  .experimentati {
    font-size: 1.2rem;
  }
  .textservicii {
    font-size: 0.8rem;
  }
}
@media (max-width: 1220px) {
  .servicesbox {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }
  .section3d {
    margin-top: 8rem;
  }
  .experimentati {
    top: 18%;
  }
  .textservicii {
    top: 27%;
  }
}
@media (max-width: 1031px) {
  .services video {
    object-fit: contain;
  }
  .experimentati {
    font-size: 0.9rem;
  }
  .servicesbox {
    top: 32rem;
  }
  .experimentati {
    top: 25%;
  }
  .textservicii {
    top: 35%;
  }
  .serviciioferite {
    top: 18%;
  }
  .section3d {
    margin-top: 12rem;
  }
}
@media (max-width: 700px) {
  .servicesbox {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    top: 27rem;
  }
  .section3d {
    margin-top: 17rem;
  }
  .experimentati {
    top: 22%;
    font-size: 0.7rem;
  }
  .textservicii {
    top: 27%;
    font-size: 0.7rem;
  }
}
@media (max-width: 600px) {
  .experimentati {
    top: 25%;
  }
  .textservicii {
    top: 30%;
    width: 80%;
  }
  .serviciioferite {
    top: 21%;
  }
}
@media (max-width: 500px) {
  .servicesboxone {
    padding: 1rem;
  }
  .section3d {
    margin-top: 13rem;
  }
  .experimentati {
    top: 28%;
  }
  .textservicii {
    top: 33%;
  }
  .serviciioferite {
    top: 24%;
  }
}
@media (max-width: 472px) {
  .servicesbox {
    top: 25rem;
  }
  .experimentati {
    font-size: 0.6rem;
  }
  .textservicii {
    font-size: 0.6rem;
  }
  .serviciioferite {
    font-size: 0.8rem;
  }
}
@media (max-width: 400px) {
  .experimentati {
    top: 27%;
  }
  .textservicii {
    top: 31%;
  }
  .servicesbox {
    top: 23rem;
  }
}

/* SERVICES SECTION */

/* 3D SECTION */
.section3d {
  padding-bottom: 10rem;
  background-color: #fff;
  overflow-x: hidden;
}
.lottieplayer {
  position: relative;
  left: -100%;
  transform: translate(-50%);
  transition: all 1s ease-in;
}
.to-right-1 {
  left: 50%;
}
.section3dbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  background-color: #b4b2b248;
  width: 80%;
  position: relative;
  left: 200%;
  transform: translateX(-50%);
  padding: 2rem 0;
  border-radius: 1rem;
  transition: all 1s ease-in;
}
.to-left-1 {
  left: 50%;
}
.section3dbox > img {
  width: 17rem;
  height: 17rem;
  box-shadow: #202122 10px 10px 30px;
  border-radius: 0.5rem;
}
.vertical {
  border-right: 2px solid #041f35;
  height: 17rem;
}
.textbox3d {
  color: #031829;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.textbox3d h2 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
}
.textbox3d p {
  width: 15rem;
  text-align: start;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.btn {
  width: 140px;
  height: 50px;
  background: linear-gradient(180deg, #031829 0%, #292e34 99.99%, #ecf1f6 100%);
  color: #fff;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
}

.btn span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: top 0.5s;
  color: white;
  letter-spacing: 2px;
}

.btn-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn:hover .btn-text-one {
  top: -100%;
}

.btn:hover .btn-text-two {
  top: 50%;
}

/* 3D SECTION */

/* TESTIMONIALS SECTION */

.testimonials {
  background-color: #b4b2b248;
  padding: 6rem 0;
  opacity: 0;
  transition: opacity 1s ease-in;
  overflow-x: hidden;
}
.testimonials > h2 {
  text-align: center;
  padding-bottom: 5rem;
  color: #031829;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
}
.in-view-3 {
  opacity: 1;
}
.svgtestimonialone {
  width: 6rem;
  height: 6rem;
  padding-bottom: 2rem;
}
.testimonialclient {
  padding: 0 12rem;
  padding-bottom: 1.5rem;
  color: #031829;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.2rem;
}
.numeclient {
  color: #031829;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}
.carousel-control-prev,
.carousel-control-next {
  margin-top: 6rem;
  height: 4rem;
}

/* TESTIMONIALS SECTION */

/* CONTACT SECTION */
.contact {
  background-color: #020c15;
  color: white;
  overflow-x: hidden;
}
.logocontact {
  height: 7rem;
  width: 7rem;
  margin-right: 4rem;
}
.contactbox {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 3rem;
  padding: 3rem 2rem 0;
}
.contactbox h6:hover {
  color: #d79521;
  text-decoration: underline;
  transition: all 0.5s ease-in;
  cursor: pointer;
}
.boxlinks,
.boxcontact {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  line-height: 2.1rem;
}
.boxlinks a,
.boxcontact a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.boxlinks h6,
.boxcontact h6 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2px;
}
.boxlinks a:hover,
.boxcontact a:hover:not(.ws) {
  color: #d79521;
  text-decoration: underline;
  transition: all 0.5s ease-in;
}
#map {
  height: 10.5rem;
  width: 25rem;
  margin-left: 2rem;
}
.anpc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem 0 3rem;
}
.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 2px;
}
.copyright p:first-child {
  padding-bottom: 2rem;
}
.logopersonal {
  height: 5rem;
  width: 7rem;
}
/* CONTACT SECTION */
