html {
  font-size: 20px;
}
.bodybg {
  background-color: #c7bdad;
}
/* NAVIGATION */

.background {
  height: 100vh;
}
.navbar-nav.text-center > a {
  color: white;
  font-family: "Acme", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.navbar.navbar-expand-lg {
  padding: 0 11rem;
  position: fixed;
  width: 100%;
  background-color: #020c15;
  z-index: 2;
}
.container-fluid {
  background-color: #020c15;
}
.logo {
  height: 5rem;
  width: 8rem;
}
.hamburger {
  cursor: pointer;
}
.hamburger input {
  display: none;
}
.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 2rem;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line-top-bottom {
  stroke-dasharray: 12 63;
}
.hamburger input:checked + svg {
  transform: rotate(-45deg);
}
.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/* NAVIGATION */

/* HERO SECTION */

.hero {
  overflow: hidden;
  height: 100vh;
  background-image: url(images/testbg1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.texthero {
  color: white;
  font-family: "Lemon", serif;
  font-size: 4vh;
  text-align: center;
  backdrop-filter: blur(5px) saturate(100%);
  border-radius: 2rem;
  margin-bottom: 2rem;
  width: 40rem;
}
.herobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.buttonservices {
  background: #fff;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
}

.spanservices {
  display: inline-block;
  transform: skew(21deg);
}

.buttonservices::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(20, 20, 20);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.buttonservices:hover {
  color: #fff;
}

.buttonservices:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

/* HERO SECTION */

/* BELOW HERO SECTION*/

.belowhero {
  height: 100vh;
}
.belowherobox {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #342d27;
}
.belowherotextbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 4rem;
  color: white;
}
.belowherotextbox > h1 {
  text-transform: uppercase;
  padding-bottom: 1rem;
  font-family: "Abril Fatface", serif;
}
.belowherotextbox > p {
  text-align: start;
  padding-bottom: 1rem;
  font-family: "Cinzel", serif;
}
.belowheropicture {
  width: 17rem;
  height: 22rem;
}
.animated-button {
  font-family: "Cinzel", serif;
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: white;
  box-shadow: 0 0 0 2px white;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .spananimatedbutton:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #202122;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .spananimatedbutton:first-child {
  position: relative;
  z-index: 1;
}

.animated-button:hover {
  box-shadow: 0 0 0 5px #2195f360;
  color: #ffffff;
}

.animated-button:active {
  scale: 0.95;
}

.animated-button:hover .spananimatedbutton:last-child {
  width: 100%;
  height: 150px;
  opacity: 1;
}

/* BELOW HERO SECTION*/

/* SERVICES SECTION */

.services {
  height: 100vh;
}
.services > h1 {
  text-align: center;
  padding-bottom: 3rem;
  color: white;
  font-family: "Rowdies", sans-serif;
}
.imageservices {
  width: 12rem;
  height: 14rem;
}
.servicesbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 2rem;
  flex-wrap: wrap;
}
.servicesboxone {
  display: flex;
  background-color: #031829;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 12rem;
}
.servicesboxone > h4 {
  color: white;
  padding: 1rem 1rem 0;
  font-family: "Amatic SC", sans-serif;
  font-size: 3.5vh;
}
.servicesonetext {
  color: white;
  padding: 1rem 1rem 1rem;
  font-family: "Philosopher", sans-serif;
}

/* SERVICES SECTION */

/* 3D SECTION */
.section3d {
  margin-top: 10rem;
  margin-bottom: 15rem;
}
.lottieplayer {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 5rem;
}
.section3dbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.section3dbox > img {
  width: 17rem;
  height: 17rem;
  box-shadow: #202122 10px 10px 30px;
}
.vertical {
  border-right: 2px solid #041f35;
  height: 17rem;
}
.textbox3d {
  color: #031829;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.textbox3d h4 {
  font-family: "Concert One", sans-serif;
  font-size: 5vh;
}
.textbox3d p {
  width: 25rem;
  text-align: end;
  font-family: "Mate SC", serif;
}
.btn {
  width: 140px;
  height: 50px;
  background: linear-gradient(180deg, #031829 0%, #292e34 99.99%, #ecf1f6 100%);
  color: #fff;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.btn span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: top 0.5s;
  color: white;
}

.btn-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-family: "Mate SC", serif;
}

.btn-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
  font-family: "Mate SC", serif;
}

.btn:hover .btn-text-one {
  top: -100%;
}

.btn:hover .btn-text-two {
  top: 50%;
}

/* 3D SECTION */

/* TESTIMONIALS SECTION */
.testimonials {
  height: 80vh;
}
.svgtestimonialone {
  width: 6rem;
  height: 6rem;
  padding-bottom: 2rem;
}
.testimonialclient {
  padding: 0 12rem;
  width: auto;
  padding-bottom: 1.5rem;
  color: #031829;
  font-family: "Courgette", cursive;
}
.numeclient {
  color: #031829;
  font-family: "Kaushan Script", cursive;
}
.carousel-control-prev,
.carousel-control-next {
  margin-top: 6rem;
  height: 4rem;
}
/* TESTIMONIALS SECTION */

/* CONTACT SECTION */
.contact {
  background-color: #020c15;
  color: white;
}
.logocontact {
  height: 11rem;
  width: 16rem;
  margin-right: 4rem;
}
.contactbox {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 3rem;
  padding: 3rem 2rem 2rem;
}
.boxlinks,
.boxcontact {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  line-height: 2.1rem;
}
#map {
  height: 10.5rem;
  width: 1000%;
  margin-left: 2rem;
}
/* CONTACT SECTION */
